body {
    font-family: 'Arial', sans-serif;
    background-color: #15005f;
    color: white; /* Agregado para cambiar el color del texto en general a blanco */
}

center {
    text-align: center;
}

h1 {
    color: white;
}

button {
    background-color: #a20000;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #640078;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

.columna1 {
    width: 20%;
}

.columna2 {
    width: 20%;
}

.columna3 {
    width: 60%;
}

/* Estilo para filas pares */
tr:nth-child(even) {
    background-color: rgb(0, 0, 0); 
}

/* Estilo para filas impares */
tr:nth-child(odd) {
    background-color: rgb(0, 0, 0); 
}

tr:hover {
    background-color: #15005f;
}
